<div class="container"class="col-md-3">
    <div class="form-group">
        <label for="" style="font-size: medium;">Title</label>
        <input [(ngModel)]="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="" style="font-size: medium;">Genre</label>
        <input [(ngModel)]="category" type="text" class="form-control">
    </div>
    <div class="form-group" style="font-size: medium;">
        <label for="">Rating</label>
        <input [(ngModel)]="rating" type="text" class="form-control">
    </div>
    <div class="form-group" style="font-size: medium;">
        <label for="">format</label>
        <input [(ngModel)]="format" type="text" class="form-control">
    </div>
    <div class="form-group" style="font-size: medium;">
      <label for="">language</label>
      <input [(ngModel)]="language" type="text" class="form-control">
  </div>
  <div class="form-group" style="font-size: medium;">
    <label for="">leadActor</label>
    <input [(ngModel)]="leadActor" type="text" class="form-control">
  </div>
    <div class="form-group" style="font-size: medium;">
        <label for="">Select an image</label>
        <input type="file" class="form-control" (change)="onSelectImage($event)">
    </div>
  
    <div class="form-group">
        <button (click)="onSave()" class="btn btn-success">Save</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 5px">Cancel</button>
    </div>
  </div>
  <div class="col-md-4"></div>
  
  
